<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body
    class="min-h-screen gap-8 bg-stone-100 px-2 text-zinc-800 selection:bg-orange-500/50 sm:grid sm:px-6 md:px-12 lg:px-24 {{ with .File }}{{ .TranslationBaseName }}{{ end }}"
  >
    <header class="">{{ partial "header" . }}</header>
    <main class="mt-6 min-h-screen">{{ block "main" . }}{{ end }}</main>
    <footer class="mb-8 border-t border-green-900/20 pt-12">{{ partial "footer" . }}</footer>
  </body>
</html>
