{{ define "main" }}
  <!-- Full-width hero sections -->
  <div class="mb-18 grid w-full grid-cols-1 gap-6 md:grid-cols-2">
    <!-- Blockquote Section 
    <div class="flex items-center justify-center px-8 py-12">
      <div class="rounded-sm bg-gradient-to-br from-amber-700/20 via-amber-700/10 to-stone-200/50 p-4">
        
      </div>
    </div> 
  -->

    <!-- Text Section -->
    <div class="flex flex-col gap-4">
      <h1 class="font-serif text-4xl text-green-900 capitalize md:text-5xl/15 lg:text-7xl/20">
        Designing gardens that <span class="text-amber-600">belong</span>
      </h1>
      <p class="py-8 font-serif text-lg leading-relaxed text-stone-800 md:text-xl lg:text-2xl">
        Ralph Wyld is a qualified garden designer with a diploma from the Royal Horticultural Society, creating bespoke
        gardens that connect to the stories of their owners and the surorunding landscape.
      </p>
      <div class="flex flex-col lg:flex-row lg:gap-12">
        <a
          href="/about"
          class="group mb-4 inline-block font-serif text-lg text-amber-600 transition-all duration-300 motion-reduce:transition-none md:text-xl lg:text-2xl"
          ><span
            class="underline decoration-amber-600/50 decoration-3 underline-offset-3 transition-all duration-300 group-hover:decoration-amber-600 group-focus:decoration-amber-600"
            >Learn more about me</span
          ><span
            class="ml-1 inline-block transition-transform duration-300 group-hover:translate-x-1 group-hover:-rotate-10"
            >→</span
          ></a
        >
        <a
          href="/contact"
          class="group mb-4 inline-block font-serif text-lg text-amber-600 transition-all duration-300 motion-reduce:transition-none md:text-xl lg:text-2xl"
          ><span
            class="underline decoration-amber-600/50 decoration-3 underline-offset-3 transition-all duration-300 group-hover:decoration-amber-600 group-focus:decoration-amber-600"
            >Book a meeting</span
          ><span
            class="ml-1 inline-block transition-transform duration-300 group-hover:translate-x-1 group-hover:-rotate-10"
            >→</span
          ></a
        >
      </div>
    </div>

    <!-- Image Section -->
    <div
      class="h-96 self-start overflow-hidden rounded-sm bg-gradient-to-br from-amber-700/20 via-amber-700/10 to-stone-200/50 p-8"
    >
      <img
        src="images/WyldDesignConcept.jpeg"
        class="h-full w-full rounded-sm border border-gray-900/10 object-cover shadow-lg shadow-gray-900/10"
      />
    </div>
  </div>

  <!-- Quote -->
  <div class="my-6 mb-24 max-w-4xl rounded-sm border border-stone-300/40 bg-stone-200/50 p-6">
    <blockquote class="font-serif text-4xl leading-relaxed text-green-900/50 italic">
      "The garden is a bridge between us, our homes, and the world around us. It should reflect both the character of
      what's within, and without."
    </blockquote>
  </div>

  <!-- Main content -->
  <section class="mb-24 max-w-4xl">
    <div class="space-y-24 font-serif text-2xl leading-10 text-stone-800">
      {{ .Content }}
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
  </section>
{{ end }}
