{{ define "main" }}
<section class="mb-12 max-w-4xl space-y-12">
  <h1 class="font-serif text-2xl text-green-900 sm:text-4xl md:text-6xl">{{ .Title }}</h1>
  {{ if .Content }}
  <div class="space-y-12 font-serif text-lg leading-relaxed sm:text-2xl sm:leading-10 text-zinc-800">{{ .Content }}</div>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} {{ end }}
  <div class="space-y-12">
  {{ range .Pages }}
  <article>
    <a href="{{ .Permalink }}" class="block group">
      <time class="block font-serif text-base mb-3 text-grey-600 underline underline-offset-3 decoration-green-900/50 transition-all duration-300 group-hover:decoration-green-900 group-focus:decoration-green-900 motion-reduce:transition-none" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      <h2 class="font-serif text-xl mb-6 text-green-900 underline underline-offset-3 decoration-green-900/50 transition-all duration-300 group-hover:decoration-green-900 group-focus:decoration-green-900 motion-reduce:transition-none sm:text-2xl md:text-3xl">{{ .Title }}</h2>
      <p class="text-gray-600 font-serif text-base sm:text-lg">{{ .Summary }}</p>
    </a>
  </article>
  {{ end }}
  </div>
</section>
{{ end }}
