<div class="flex flex-col space-y-12 md:grid md:grid-cols-12">
  <div class="sm:col-span-2">
    <h5 class="mb-2 font-serif text-base text-green-900">Navigation</h5>
    {{ partial "menu.html" (dict "menuID" "footer" "page" . "ulClass" "text-base font-serif space-y-2" ) }}
  </div>
  <div class="md:col-span-2">
    <h5 class="mb-2 font-serif text-base text-green-900">Information</h5>
    {{ partial "menu.html" (dict "menuID" "information" "page" . "ulClass" "text-base font-serif space-y-2" ) }}
  </div>
  <div class="md:col-span-6 md:col-start-7 md:content-end md:justify-end md:text-right">
    <p class="font-serif text-lg">Copyright {{ now.Year }}. All rights reserved.</p>
  </div>
</div>
