{{ if and (ne .RelPermalink "/contact/") (ne .RelPermalink "/") }}
  <div class="flex flex-col md:flex-row">
    <div class="mt-6 mb-24">{{ partial "touch" . }}</div>
  </div>
{{ end }}


<div class="flex flex-col space-y-12 md:flex-row md:justify-between">
  <div class="flex space-x-12">
    <div class="">
      <h5 class="mb-2 font-serif text-base text-green-900">Navigation</h5>
      {{ partial "menu.html" (dict "menuID" "footer" "page" . "ulClass" "text-base font-serif space-y-2" ) }}
    </div>
    <!-- <div class="">
      <h5 class="mb-2 font-serif text-base text-green-900">Information</h5>
      {{ partial "menu.html" (dict "menuID" "information" "page" . "ulClass" "text-base font-serif space-y-2" ) }}
    </div> -->
  </div>
  {{ if ne .RelPermalink "/newsletter-thanks/" }}{{ partial "newsletter-form.html" . }}{{ end }}
</div>
<p class="mt-24 mb-4 content-end font-serif text-2xl">
  <a
    href="mailto:hello@wylddesign.studio"
    class="underline decoration-orange-500/50 decoration-3 underline-offset-3 transition-all duration-300 hover:decoration-orange-500 focus:decoration-orange-500 motion-reduce:transition-none"
    >hello@wylddesign.studio</a
  >
</p>
<p class="font-serif text-2xl text-stone-500">Westoning, Bedfordshire</p>
<p class="mt-8 text-right font-serif text-sm text-stone-400">© {{ now.Year }} Wyld Design</p>
